.london {
  background-image: url("../images/london.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 10%;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 10%;
}


.madrid {
  background-image: url("../images/madrid.jpg");
  background-repeat: no-repeat;
  background-position: left;
  padding:10%;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 10%;
}
/*tablet*/

@media all and (min-width: 575px) {
  h1 {
  margin: 1%;
  width: 48%;
}
}

/*desktop*/

@media all and (min-width: 991px) {
    h1 {
    margin: 1%;
    width: 48%;
  }
}
